
.wide{
    background-color:white;
}

body{
    width: 1200px;
    font-family: Arial,Helvetica,sans-serif;
}
header{
    text-align: right;
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0px;
    height: 30px;
}
header > li{
    list-style: none;
    display: inline;
    padding: 30px;
    background-color:#37bef4;
    text-align: center;
    vertical-align: bottom;
}

h1{
    color:#37bef4;
    padding-left: 100px;
    font-size: 50px;
    margin-bottom: 0px;
    
}

.top_main{
    background-image: url(../img/top/baby1.jpg);
    width: 1200px;
    height: 800px;
    position: relative;
}
h2{
    background-color: #37bef4;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 1200px;
    height: 100px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 40px;
}
.entry_secondary {
    width: 45%;
    position: absolute;
    right: 10px;
    margin-top: 200px;
}

.entry_text{
    padding: o;
    text-align: left;
    margin-bottom: 30px;
    font-size: 20px;
}





footer {
    background-color: grey;
}

footer > .contents {
    width: 800px;
    margin: 0 auto;
}

.logos{
    margin: auto auto;
    display: inline-block;
    padding: 50px;
}
.logos {
    width: 60px;
    height: 60px;
}

