{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>精子バンクプロジェクト</title>
</head>
<body>
    <header>
        <li>Home</li>
        <li>Search</li>
        <li>Sign in</li>
        <li>About us</li>
        <li>Contact us</li>
    </header>

    <h1>精子バンクプロジェクト</h1>
    <p>世界最大の精子バンク</p>

    <footer>
        <ul>Mail</ul>
        <ul>Twitter</ul>
        <ul>Facebook</ul>
    </footer>

</body>
</html>