{% extends "base.html" %}
{% load static %}

{% block content %}
<body>
<div class="contents">
    <h1>管理者のあれこれ</h1>
    <p>名前：歩。苗字言うと一発で特定される。<br>
        出身：関西と東海のはざま<br>
        興味：物理、教育、スポーツ（やる方。観戦はあんまり。）<br>
        好きなもの：塩昆布<br>
        嫌いなもの：各種手続き（だるい）<br>
    </p>
    <h1>命名について</h1>
    ひょっとしたらセンスあるかもしれない。<br>
    自分の名前が「歩」で、将来の夢が宇宙飛行士だから造語命名。（将来の夢については今度記事書こう）<br>
    自分としては気に入ってるけど、他人からの評価はどうなんだろうね。
    <h1>このサイトのスタンス</h1>
    <p>前々からブログはやっといたほうがいいかなと思っていた。理由は色々ある。<br>
        Python忘れないためとか、備忘録とか、しばらく会ってない友達への近況報告とかあるけど、<br>
         1番の理由は自分の思考をどこかに残しておきたいという気持ちが強い。<br>
        だから、全然需要のないことも書いちゃうかもしれない。
    </p>
    <h1>サイト年表</h1>
    <p>2019/9/20 ベータ版作成</p>
    <h1>その他</h1>
    日記色が強いけど、気にせずどんどん書いていこう。
</div>
</body>

{% endblock %}