{% extends "base.html" %}
{% load static %}

{% block content %}
<body>
    <h1>ドナーリスト</h1>
    <p class="create_button"><a href="/donor/donor_create/">ドナー新規登録</a></p>
    <p class="create_button"><a href="/donor/donor_search/donor_searched">ドナー検索</a></p>
{% for donor in object_list %}
<div class="donors_list">
    <p>ID:{{ donor.number }}</p>
    <p>髪の色：{{ donor.get_hair_color_display }}</p>
    <p>身長：{{ donor.get_height_display }}</p>
    <p>体重：{{ donor.get_weight_display }}</p>
    <p>ICI/IUI：{{ donor.get_ICI_IUI_display }}</p>
    <p>血液型：{{ donor.get_blood_type_display }}</p>
    <p>現在の写真：{{ donor.get_today_photo_display }}</p>
    <p>プロフィール：{{ donor.get_profile_display }}</p>
    <p>瞳の色：{{ donor.get_eye_color_display }}</p>
    <p>運動能力：{{ donor.get_mot_display }}</p>
    <p>メモ：{{ donor.memo }}</p>
</div>
{% endfor %}


</body>
{% endblock %}